
<footer class="">
    <div class="container" id="contact">
        <h5 class="text-center fw-bold "> Contact Us </h5>
        <div class="row">
            <div class="col-md-3">
                <span >
                    <span class="text-white">Whatsapp : </span> <a class="code" href="https://wa.me/+2348104884471"><i class="bi bi-whatsapp"></i></a>
                </span>
            </div>
            <div class="col-md-3">
                <span> 
                   <span class="text-white">Message : </span> <a class="code" href="mailto:obonteconsulting@gmail.com">Click To Mail Us</a>
                </span>
            </div>
            <div class="col-md-3">
                <span>
                   <span class="text-white">Customer Care :</span> <a class="code" href="tel:+2348104884471">Call Us</a>
                </span>
            </div> 
            <div class="col-md-3">
                <span>
                   <span class="text-white">Enquiry :</span> <a class="code" href="{% url 'contact' %}">Click Here</a>
                </span>
            </div> 
        </div> 
        <div class="copyright text-dark fst-italic text-center">
            Copyright Incorporation &copy; All Right Reserved 2024
        </div>
    </div>
</footer>